<app-header titulo="avatar"></app-header>


<ion-content>
  <ion-avatar>
    <img
      src="https://img.freepik.com/vector-gratis/fondo-banner-abstracto-formas-rojas_1361-3348.jpg?w=1380&t=st=1657315798~exp=1657316398~hmac=b87a9d41aa3460ec5f91366a303e5b9c49e09bec8e1cb040a66d53c33914fc79">
    <ion-label>Prueba</ion-label>
  </ion-avatar>

  <br>
  <br>
  <br>
  <br>
  <br>

  <ion-chip>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Práctica</ion-label>
  </ion-chip>

  <ion-item>
    <ion-avatar slot="start">
      <img
        src="https://img.freepik.com/vector-gratis/fondo-degradado-lineas-azules-dinamicas_23-2148995756.jpg?t=st=1657312410~exp=1657313010~hmac=1b59a35281be05da81ea36b4aa9880cb93453afdd089a71c2ec06b1d632014b3&w=996">
    </ion-avatar>
    <ion-label>Prueba</ion-label>

  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img
        src="https://img.freepik.com/vector-gratis/fondo-degradado-lineas-azules-dinamicas_23-2148995756.jpg?t=st=1657312410~exp=1657313010~hmac=1b59a35281be05da81ea36b4aa9880cb93453afdd089a71c2ec06b1d632014b3&w=996">
    </ion-avatar>
    <ion-label>Prueba dos</ion-label>

  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img
        src="https://img.freepik.com/vector-gratis/fondo-degradado-lineas-azules-dinamicas_23-2148995756.jpg?t=st=1657312410~exp=1657313010~hmac=1b59a35281be05da81ea36b4aa9880cb93453afdd089a71c2ec06b1d632014b3&w=996">
    </ion-avatar>
    <ion-label>Prueba tres</ion-label>

  </ion-item>
</ion-content>