<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let c of componentes | async" [routerLink]="c.redirectTo" detail>
      <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
      {{c.name}}
    </ion-item>
  </ion-list>
</ion-content>





<!---- 
      <body>
        <br>
    
    <br>
    

    <ion-list>
      <ion-item>
        <ion-icon name="logo-android">
        </ion-icon>
        <ion-label> Hola Mundo</ion-label>
      </ion-item>
      <ion-item>
        <ion-button color="secondary" routerLink="/alert"> Alert </ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="medium" routerLink="/action-sheet"> Action Sheet </ion-button>
      </ion-item>
    </ion-list>
    
  </body>
  -->