<app-header titulo="button"></app-header>

<ion-content>
  <ion-button color="primary">Azul</ion-button>
  <br>
  <ion-button color="secondary">Celeste</ion-button>
  <br>
  <ion-button color="tertiary">Morado</ion-button>
  <br>
  <ion-button color="success">Verde</ion-button>
  <br>
  <ion-button color="warning">Amarillo</ion-button>
 
  <br>
  <ion-button color="danger">Rojo</ion-button>
  <br>
  <ion-button color="light">Blanco</ion-button>
  <br>
  <ion-button color="medium">Plomo</ion-button>
  <br>
  <ion-button color="dark">Negro</ion-button>
</ion-content>